body{
    margin: 0;
    font-family: 'Roboto', Arial;
}

/*---------------------------------------------------------------------------------------------*/

.header{
    background: #1f2937;
    padding: 20px;
}

.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;  
}

.header-logo{   
  font-size: 24px; 
  font-weight: bolder;
  color: #E5E7EB;
}

ul{
    display: flex;  
    list-style: none;
    gap:8px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/*---------------------------------------------------------------------------------------------*/

.hero{
    background: #1f2937;
    padding: 60px;
}

.hero-wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;  
    gap:32px;
}

.hero-text{
    flex: 1;
}

.hero-text h2{
   font-size: 48px; 
   font-weight: bolder;
   color: #F9FAF8;
   margin: 0;
   width: 340px;
   display: contents;
}

.hero-text p{
    font-size: 18px; 
    color: #E5E7EB;
 }

 .hero-text button{
    font-size: 18px; 
    font-family: 'Roboto', Arial;
    background-color: #3882F6;
    color:#E5E7EB;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
 }


.hero-img{
    flex: 1;
    align-self: stretch;
    border-radius: 20px;
    background: url("https://piotrnajda3000.github.io/landing-page/hero_image.jpg");
    background-size: cover;
    min-width: 200px;
    min-height: 200px;
}

/*---------------------------------------------------------------------------------------------*/

.main{
    padding: 60px;
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: auto;  
    gap:32px;
}

.main-text{
    flex: 1; 
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.main-blocks{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:8px;
}

.block{
    flex: initial;
    width: 200px;
}

.block-img{
    border:5px solid #3b82f6;
    border-radius: 10px;
    height: 200px;
    
}

.block h3{
    text-align: center;
    flex-wrap: wrap;
}

/*---------------------------------------------------------------------------------------------*/

.quote{
    background: #E5E7EB;
    padding: 60px;
}

.quote-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: auto;  
    padding: 60px 0px 60px 0px;
}

.quote-text{
  font-size: 36px;
  color: #1F2937; 
  font-weight: lighter;
  font-family: italic;
}

.quote-author{
    display: flex;
    align-self: flex-end;
    font-size: 20px;
    font-weight: bolder;
  }


/*---------------------------------------------------------------------------------------------*/

.signup{
    padding: 120px;
}

.signup-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 40px 30px 40px 30px;
    background: #3882F6;
    align-items: center;
    border-radius: 10px;
}

.signup-spacer{
    flex:2;
}

.signup-text{
    flex:8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.signup-text h3{
    margin: 0;
    font-size: 25px;
    color:white;
}

.signup-text p{
    margin: 0;
    font-size: 15px;
    color:white;
    padding-bottom: 15px;
}

.signup-button{
    display: flex;
    flex:8;
    justify-content: center;
    min-width: 80px;
}

.signup-button button{
    font-size: 18px; 
    font-family: 'Roboto', Arial;
    background-color: #3882F6;
    color:#E5E7EB;
    border: 3px solid white;
    border-radius: 5px;
    width: 120px;
    height: 40px;
}

/*---------------------------------------------------------------------------------------------*/

.footer{
    font-family: 'Roboto', Arial;
    font-size: 15px;
    text-align: center;
    color: white;
    background: #1f2937;
    padding: 30px 0px 30px 0px;
}
